<div class='container p-2'>
  <div class='rounded p-3 mt-2 bg-gray-200 border-gray-300 border-solid border divide-y divide-gray-300'>
    <div class='text-center'>
      <%= image_tag('radius_badge.svg', class: 'inline max-h-24') %>
    </div>
    <div class='text-center p-4'>
      <h1 class='text-3xl'>Sign Up</h1>
    </div>
    <div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name),data: { turbo: false} ) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <% input_class = 'text-black w-full border border-solid border-gray-300 bg-gray-100 px-4 py-2 rounded-lg focus:outline-none' %>
        <% label_class = 'font-semibold block mb-1 text-md' %>
        <div class="field">
          <%= f.label :email, class: label_class %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: input_class %>
        </div>

        <div class="field">
          <%= f.label :password, class: label_class %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: input_class %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: label_class %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: input_class %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>

    <%= render "devise/shared/links" %>
</div>
