<!DOCTYPE html>
<html>
  <head>
    <title>DateFeed</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="app_token" content="<%= app_token %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
